#navIcon {
  margin-right: 30px;
}
#mainNav {
  max-height: 0;
  min-height: 80px;
  font-size: 1.25em;
  border-bottom: 1px solid #59f;
}
#navName {
  color: #3273dc;
  padding-top: 12%;
  text-decoration: none;
}
#para {
  text-align: center;
}
#nav {
  text-decoration: none;
}
.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('sg.jpg') no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#lax {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  margin-top: 2%;
  text-align: center;
  padding: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 5vw;
  transform-origin: left top;
}
#title {
  padding-bottom: 10px;
  font-size: 3em;
}
#blogTitle {
  padding-top: 10%;
  color: white;
  font-size: 2.25em;
}
#blogDetail {
  margin-top: 3%;
  max-width: 95%;
  margin-left: 2.5%;
  margin-bottom: 15%;
}
#blogDetailImg {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: 5px;
}
#blogDetailImg :hover {
  background: #59f;
}
#containerSlide {
  max-height: 50%;
}
#symbols {
  padding-top: none;
  margin: 0 auto;
  float: left;
  display: flex;
  width: 100%;
  align-items: center;
}

.image {
  margin: 0 auto;
}
#skillsContent {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 90%;
}
.textHide {
  display: none;
  margin: 0 auto;
}
#imgBadge:hover + div {
  display: block;
  opacity: 1;
  font-weight: 500;
  margin-left: 25%;
}
#imgBadge:hover {
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.textInfo {
  color: black;
  width: 60px;
  font-size: 1.25em;
  padding-left: 3px;
  text-decoration: underline;
  text-decoration-color: #59f;
}
/* Animations */
#horn {
  margin-right: 15px;
}
.progress-bar {
  margin-bottom: 1rem;
  background-color: lightgray;
  border-radius: 1.25em;
  width: 300px;
  height: 16px;
  display: inline-block;
}
.progress-value {
  background-color: #59f;
  transition: 0.3s all linear;
  border-radius: 1.25em;
  height: 16px;
  display: inline-block;
  animation: progress 15s ease-in-out forwards;
  -webkit-animation: progress 15s ease-in-out forwards;
}
.progress-value.green {
  background-color: #59f;
  animation: progress-3 15s ease-in-out forwards;
  -webkit-animation: progress-3 15s ease-in-out forwards;
  animation-iteration-count: infinite;
}
/* animation */
@keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes progress-3 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* tabs */
.hidden {
  display: none;
}
#eda-tab-content {
  background-color: red;
  max-width: 50%;
}
#pbTitle {
  text-align: center;
  margin-top: 1%;
  padding-bottom: 1%;
}
#arrow {
  margin-left: 10px;
  padding-top: 2px;
  color: #59f;
}
#arrow:hover {
  cursor: pointer;
}
.arrow1 {
  animation: slide1 1.2s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}
#myName {
  color: #3273dc;
}
.navbar-link.is-active,
a.navbar-item.is-active {
  color: #59f;
}
#aboutPage {
  margin-top: 3%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myIMG {
  border: 2px solid #59f;
}
#firstTile {
  background-color: #3273dc;
}
#wideTile {
  width: 100%;
  min-height: 710px;
}
#quote {
  background-color: #dce4f1b9;
  border-radius: 4px;
}

#round {
  border-radius: 4px;
}

#firstCar {
  margin: 0 auto;
  max-width: 80%;
}

#symbolsCont {
  margin-top: -10%;
  width: 100%;
}

#port {
  min-height: 385px;
  min-width: 350px;
}

#port:hover {
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  transition-timing-function: ease;
  transition: 0.5s;
  transform: scale(1.4);
  border: 1px solid #59f;
}
